body {
    background-color: rgb(23, 106, 230);}
    
    
 header {background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;}

    .imagem{
    width: 24%;
}